build:
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.10.0
    entrypoint: [""]
  variables:
    DOCKER_CONFIG: /root
    DOCKER_IMAGE: cookielab/aws-cli
    DOCKER_IMAGE_TAG_REVISION: $CI_COMMIT_TAG
  before_script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"username\":\"clbbot\",\"password\":\"$DOCKER_HUB_PASSWORD\"}}}" > $DOCKER_CONFIG/config.json
    - export DOCKER_IMAGE_TAG_PATCH=`echo -n $DOCKER_IMAGE_TAG_REVISION | sed -n -E 's/([0-9]+)\.([0-9]+)\.([0-9]+)(-([0-9]+))?/\1.\2.\3/p'`
    - export DOCKER_IMAGE_TAG_MINOR=`echo -n $DOCKER_IMAGE_TAG_REVISION | sed -n -E 's/([0-9]+)\.([0-9]+)\.([0-9]+)(-([0-9]+))?/\1.\2/p'`
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $DOCKER_IMAGE:$DOCKER_IMAGE_TAG_REVISION --destination $DOCKER_IMAGE:$DOCKER_IMAGE_TAG_PATCH --destination $DOCKER_IMAGE:$DOCKER_IMAGE_TAG_MINOR --destination $DOCKER_IMAGE:latest
  tags:
    - docker
  only:
    - tags
